{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if validlink %}
      <h3>Change password</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>
{% endblock %}