{% extends 'schedule/base.html' %}
{% load staticfiles %}
{% load format_time %}
{% load get_person %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'schedule/styles.css' %}">
{% endblock %}


{% block content %}
  <div class="container">
    <a href="{% url 'schedule:schedules' %}">Today</a>
    <div class="input-group">
      <span class="input-group-btn">
        <a class="btn btn-info" href="{% url 'schedule:schedules_by_date' prev_week %}" type="button">
          <i class="fa fa-fast-backward" aria-hidden="true"></i>
        </a>
      </span>
      <span class="input-group-btn">
        <a href="{% url 'schedule:schedules_by_date' prev_day %}" class="btn btn-info" type="button">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
      </span>
      <input type="text" class="form-control-plaintext" readonly value="{{ current_day }}" aria-label="Product name">
      <span class="input-group-btn">
        <a href="{% url 'schedule:schedules_by_date' next_day %}" class="btn btn-info" type="button">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </span>
      <span class="input-group-btn">
        <a href="{% url 'schedule:schedules_by_date' next_week %}" class="btn btn-info" type="button">
          <i class="fa fa-fast-forward" aria-hidden="true"></i>
        </a>
      </span>
    </div>
    <div class="card-columns">
      {% for episode in schedule.episodes %}

        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <h4 class="card-title">{{ episode.show.name }}</h4>
              <time class="card-title" datetime="{{ episode.airtime }}">
                {{ episode.airtime|time_12 }}
              </time>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
              <h6 class="card-subtitle mb-2 text-muted">Episode: {{ episode.name }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Type: {{ episode.show.type }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Network: {{ episode.show.network.name }}</h6>
            </div>
            <div class="card-text episode-summary">
              {% if episode.summary %}
                {{ episode.summary|safe }}
              {% else %}
                <p>No summary entered.</p>
              {% endif %}
            </div>
            <div class="d-flex justify-content-between">
              {% if user.is_authenticated %}
                {% if user|is_following:episode.show.id %}
                  <button id="show-{{ episode.show.id }}" class="follow-btn btn btn-success">Following</button>
                {% else %}
                  <button id="show-{{ episode.show.id }}" class="follow-btn btn btn-primary">Follow</button>
                {% endif %}
              {% else %}
                <button id="show-{{ episode.show.id }}" class="follow-btn btn btn-primary">Follow</button>
              {% endif %}
              <a href="{% url 'shows:show' episode.show.id %}" class="btn btn-info">View show</a>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
var token = "{{ csrf_token }}";
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", token);
        }
    }
});

  $('.follow-btn').click(function() {
    var self = $(this);
    var show = this.id.split('-')[1];
    $.post(
      '/shows/follow/', { show: show }
      )
      .done(function(results) {
        if (results.following) {
          self.addClass('btn-success').removeClass('btn-primary');
          self.text('following')
        } else {
          self.addClass('btn-primary').removeClass('btn-success');
          self.text('Follow');
        }
      })
      .fail(function(results) {console.log(results)})
  });
</script>
{% endblock %}
